@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
body {
    word-break: break-word;
    font: 15px/25px 'Poppins', sans-serif;
    color: #393939;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: #28b16d;
    white-space: initial;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #393939;
}

a:hover {
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
}

img {
    max-width: 100%;
}

input[type="text"]:focus,
textarea:focus,
input[type="password"]:focus,
select:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="tel"]:focus,
input[type="number"]:focus {
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    outline: none;
}

select,
input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="number"],
textarea,
input[type="tel"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

ul {
    margin: 0 0 20px;
    padding: 0;
    list-style-type: none;
}

p {
    font-weight: 500;
    line-height: 1.2;
}

@font-face {
    font-family: 'Fonts Awesome';
    src: url(../fonts/fontawesome-webfont.eot);
    src: url(../fonts/fontawesome-webfont.eot?#iefix) format("embedded-opentype"), url(../fonts/fontawesome-webfont.woff) format("woff"), url(../fonts/fontawesome-webfont.ttf) format("truetype"), url(../fonts/fontawesome-webfont.svg#fontawesome-webfont) format("svg");
    font-weight: 400;
    font-style: normal
}

.noPadding {
    padding: 0;
}

.noLeft {
    padding-left: 0;
}

.noRight {
    padding-right: 0;
}

.centerCol {
    float: none;
    margin: 0 auto;
}

.pt_8 {
    padding-top: 80px;
}

.pb_8 {
    padding-bottom: 80px;
}

.py_8 {
    padding: 80px 0px;
}

html {
    overflow-x: hidden;
}

.theme_btn {
    padding: 15px 5px;
    border-radius: 10px;
    color: #000;
    z-index: 1;
    background: #ffba00;
    position: relative;
    font-size: 17px;
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    transition: all 250ms;
    overflow: hidden;
    display: inline-block;
    font-weight: 500;
    border: 3px solid #ffba00;
}

.theme_btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 10px;
    background-color: #fff;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    transition: all 750ms;
}

.theme_btn:hover {
    color: #000000;
}

.theme_btn:hover::before {
    width: 100%;
}

.theme_btn1 {
    padding: 15px 25px;
    border-radius: 10px;
    color: #000;
    z-index: 1;
    background: #fff;
    position: relative;
    font-size: 17px;
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    transition: all 250ms;
    overflow: hidden;
    display: inline-block;
    font-weight: 500;
    border: 3px solid #ffba00;
}

.theme_btn1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 10px;
    background-color: #ffba00;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    transition: all 750ms;
}

.theme_btn1:hover {
    color: #000000;
}

.theme_btn1:hover::before {
    width: 100%;
}

.flexRow {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
}

.flexCol {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    align-items: center;
}

h1 {
    font-family: 'Poppins', Sans-Serif;
    font-size: 55px;
    line-height: 1.2;
    color: #fff;
    font-weight: 500;
    margin: 0 0 17px;
}

h2 {
    font-family: 'Poppins', Sans-Serif;
    font-size: 55px;
    line-height: 1.2;
    color: #393939;
    font-weight: 500;
    margin: 0 0 30px;
}

h3 {
    font-family: 'Poppins', Sans-Serif;
    font-size: 30px;
    line-height: 1.2;
    color: #000000;
    font-weight: 600;
    margin: 0 0 28px;
}

h4 {
    font-family: 'Poppins', Sans-Serif;
    font-size: 24px;
    line-height: 1.2;
    color: #393939;
    font-weight: 500;
    margin: 0 0 13px;
}

h5 {
    font-family: 'Poppins', Sans-Serif;
    font-size: 20px;
    line-height: 1.2;
    color: #393939;
    font-weight: 500;
    margin: 0 0 20px;
}

h6 {
    font-family: 'Poppins', Sans-Serif;
    font-size: 23px;
    line-height: 1.2;
    color: #393939;
    font-weight: 500;
    margin: 0 0 22px;
}

select {
    background: #fff url('../images/arrow.png') no-repeat right;
    padding: 0 40px 0 30px;
}

::-webkit-input-placeholder {
    color: #575757;
}

::-moz-placeholder {
    color: #575757;
    opacity: 1;
}

:-ms-input-placeholder {
    color: #575757;
}

:-moz-placeholder {
    color: #575757;
    opacity: 1;
}

.menuSec {
    padding: 0px 0;
}

.menuSec img {
    margin: 0;
    width: 100%;
}

.menuSec ul {
    position: relative;
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    text-transform: capitalize;
}

.menuSec ul li {
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0;
}

.menuSec li ul {
    display: none;
}

.menuSec ul li a {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: #000;
    padding: 10px 12px;
    font-size: 14px;
    font-weight: 500;
}

.menuSec ul li a:after {
    content: '';
    position: absolute;
    top: 35%;
    right: 0;
    width: 1px;
    height: 13px;
    background-color: #393939;
    display: none;
}

.menuSec ul li:last-child a {
    padding-right: 0px;
}

.menuSec ul li:last-child a:after {
    display: none;
}

.menuSec ul li a:hover,
.menuSec ul li a.active {
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    color: #000;
}

.menuSec li:hover>ul {
    display: block;
    position: absolute;
    z-index: 1000;
    background-color: #c1c1c1;
    left: 0px;
    width: 320px;
    text-align: left;
    top: 38px;
}

.menuSec li>ul>li>a {
    border: none;
    padding: 13px 20px !important;
    color: #000 !important;
    overflow: hidden;
    font-size: 13px;
    line-height: 20px;
}

.menuSec li>ul>li,
.menuSec li>ul>li>a {
    display: block;
    margin: 0;
}

.menuSec li>ul>li>a:before,
.menuSec li>ul>li>a:after {
    display: none;
}

.menuSec li:hover li {
    float: none;
}

.menuSec li ul li a:hover {
    background-color: #ffba00;
    color: #000000 !important;
}

.menuSec ul ul ul {
    left: 100%;
    top: 0;
}

.menuSec ul:before,
.menuSec ul:after {
    content: " ";
    display: table;
}

.menuSec ul:after {
    clear: both;
}

.menuSec li>ul>li:hover>ul {
    left: 230px;
    top: 0px;
    width: 270px;
}

.droopdwon li:hover>ul {
    display: block;
    position: absolute;
    z-index: 1000;
    background-color: #000000;
    left: 0px;
    width: 230px;
    text-align: left;
    top: 40px;
}

.droopdwon {
    float: left;
}

.droopdwon li:hover li a:hover {
    background-color: #ffffff;
    color: #000 !important;
}

.dropdown-menu {
    position: absolute !important;
    z-index: 1000;
    display: block;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0;
    font-size: 1rem;
    color: #212529;
    text-align: left !important;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
}

.tab_sec .tab-pane {
    display: block;
    border: 0;
    height: 0;
}

.tab_sec .tab-pane.active {
    display: block !important;
    height: auto;
}

.carousel-inner>.item>a>img,
.carousel-inner>.item>img {
    width: 100%;
}

.carousel-control.right,
.carousel-control.left {
    background: none;
    opacity: 1;
    width: 50px;
    height: 50px;
    top: initial;
    top: 40%;
    background: rgba(255, 255, 255, 0.1);
    text-shadow: none;
}

.carousel-control.right:hover,
.carousel-control.left:hover {
    background: rgba(255, 27, 27, 0.6);
    color: #fff;
}

.carousel-control.right .fa,
.carousel-control.left .fa {
    position: relative;
    top: 12px;
    font-size: 20px;
    color: #fff;
    opacity: 0.5;
}

.carousel-control.right {
    right: 0px;
}

.carousel-control.left {
    left: 0px;
}

.carousel-indicators [data-bs-target] {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 10px;
    height: 12px;
    padding: 0;
    margin: 3px !important;
    text-indent: -999px;
    cursor: pointer;
    background-color: #fff;
    background-clip: padding-box;
    border: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: 1;
    border-radius: 20px;
}

.carousel-caption {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
    color: #fff;
    text-align: left;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0, 0.1);
}

.carousel-indicators li {
    border: none;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    background: #fff;
    width: 12px;
    height: 12px;
    margin: 0;
}

.carousel-indicators .active {
    margin: 0;
    background-color: #28b16d;
    width: 10px;
    height: 12px;
}

.blog_sec {
    padding: 5% 0;
}

.tab_sec .nav-tabs .nav-link.active {
    background: #242889;
    color: #fff;
}

.tab_sec .nav-tabs .nav-link {
    background: #ccc;
    border-radius: 50px;
    color: #000;
    padding: 7px 28px;
}

.tab_sec .nav-tabs {
    border: none;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

.btn_wrp {
    display: flex;
    gap: 20px;
    justify-content: flex-end;
}

.theme_btn i {
    animation: tada 1s linear infinite !important;
}

.theme_btn1 i {}

header {
    padding: 10px 0;
    background: #fff;
}

.banner_main {
    height: 100%;
    display: flex;
    /*align-items: center;*/
    position: relative;
    padding-top: 100px;
    padding-bottom: 0px;
}

.banner_main .bann_txt {}

.banner_main .bann_txt h1 {
    font-size: 50px;
    color: #000;
    font-weight: 800;
    margin: 0 0 30px 0;
}

.banner_main .bann_txt p {
    color: #797979;
}

.para {
    font-weight: 500;
    line-height: 1.4;
    font-size: 17px;
    color: #797979;
}

.banner_main .bann_txt ul {
    margin: 30px 0 0 0;
}

.banner_main .bann_txt ul li {
    display: inline-flex;
    align-items: baseline;
    width: 48%;
    font-size: 16px;
    color: #797979;
    padding: 0 0px 15px 0;
    line-height: 33px;
    
}

.banner_main .bann_txt ul li i {
    color: #ffba00;
    margin: 0 10px 0 0;
}

.btn_gap {
    margin: 30px 0;
    gap: 20px;
    display: flex;
}

.banner_main .bann_txt p span {
    color: #FFA700;
    padding: 0 5px;
    display: inline-block;
}

.banner_main .ban_img {}

.banner_main .ban_img img {
    width: 90%;
    margin: 0 auto;
    display: block;
}

.banner_main:after {
    content: '';
    background-image: url(../images/after.png);
    position: absolute;
    right: 16%;
    top: 0;
    width: 393px;
    height: 666px;
    z-index: -1;
}

.logos_Sec {}

.logos_Sec ul {
    margin: 0;
    display: flex;
    align-items: center;
    gap: 35px;
    justify-content: flex-start;
    padding: 10px 0;
    border-bottom: 1px solid #dddcdf;
    margin: 0 auto 0;
    width: 100%;
}

.logos_Sec ul li {
    padding: 0 10px;
}

.logos_Sec ul li h6 {
    margin: 0;
    color: #000;
    font-weight: 600;
    font-size: 17px;
}

.logos_Sec ul li img {}

.small {
    font-weight: 600;
    font-size: 16px;
    line-height: 17px;
    display: block;
    margin-bottom: 15px;
    color: #000;
}

.head {
    font-weight: 700;
    font-size: 42px;
    line-height: 45px;
    color: #000;
}

.why_choose {
    padding: 80px 0;
}

.why_choose .why_txt {
    text-align: center;
    padding: 0 200px;
    margin: 0 0 100px 0;
}

.why_choose .why_txt h6 {}

.why_choose .why_txt h2 {}

.why_choose .why_txt p {}

.why_bx {
    margin: 0 40px;
    height: 400px;
    padding: 30px 15px;
    display: flex;
    align-items: baseline;
    justify-content: center;
    flex-flow: column;
}
.why_choose .why_bx:hover {
    background: #ffba00;
    padding: 30px 15px;
    height: 400px;
    box-shadow: 1px 1px 11px #0000006b;
    border-radius: 9px;
    display: flex;
    align-items: baseline;
    justify-content: center;
    flex-flow: column;
}
.why_choose .why_bx:hover p{
    color:#000;
}
.why_bx img {
    width: 15%;
    margin: 0 0 15px 0;
}

.why_bx h5 {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #242424;
    margin-bottom: 18px;
}

.why_bx p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin: 0;
    color: #797979;
}

.ecomr-sec .why_bx{
     height: 500px;
}
.ecomr-sec .why_bx:hover{
     height: 500px;
}
.ssm-sec .why_bx{
     height: 550px;
}
.ssm-sec .why_bx:hover{
     height: 550px;
}
section.reviewCta {
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 90px 0;
    z-index: 0;
}

section.reviewCta:before {
    content: '';
    background-image: url(../images/cta-before.png);
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    width: 320px;
    height: 581px;
    right: 0;
    bottom: 0;
}

section.reviewCta:after {
    content: '';
    background-image: url(../images/cta-after.png);
    position: absolute;
    width: 35%;
    height: 495px;
    height: 82%;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    right: 7%;
    z-index: -1;
}

.ctaimg img {
    display: block;
}

.ctaimg .revBtns {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 24px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.rev-rtng {
    text-align: center;
}

.rev-rtng p {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #fff;
}

.rev-rtng p span {
    display: block;
    color: #777E88;
    margin-bottom: 5px;
}

.rev-rtng p span i {
    color: #1DBF74;
    font-size: 16px;
    vertical-align: top;
    margin-right: 5px;
}

.revWrp {
    font-size: 0;
    padding-bottom: 100px;
    z-index: 0;
    position: relative;
}

.revWrp img {
    width: 120px;
    height: 120px;
}

.revWrp .revDetal {
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin-left: 20px;
    width: calc(100% - 140px);
}

.revWrp .revDetal h5 {
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #000000;
    margin-bottom: 15px;
}

.revWrp .revDetal p {
    font-weight: 500;
    font-size: 14px;
    line-height: 23px;
    color: #484848;
    margin-bottom: 10px;
    letter-spacing: -0.4px;
}

.revWrp .revDetal h6 {
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    color: #484848;
    margin-bottom: 27px;
}

.revWrp .revDetal h6 {
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    color: #484848;
    margin-bottom: 27px;
}

.revWrp .revDetal ul {
    width: 195px;
    font-size: 0;
    margin: 0;
}

.revWrp .revDetal ul>li {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #7F7F7F;
    display: inline-block;
    width: 50%;
    border-right: 1px solid #7F7F7F;
    border-bottom: 1px solid #7F7F7F;
    padding: 8px 8px;
}

.revWrp .revDetal ul>li span {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
    display: block;
}

.revWrp .revDetal ul>li.last {
    border: 0;
}

.revWrp .revDetal ul>li:nth-child(2) {
    border-right: 0;
}

.revWrp .revDetal ul>li:nth-child(3) {
    border-bottom: 0;
}

.revWrp .revDetal ul>li.last {
    border: 0;
}

.revWrp .revDetal:after {
    content: '';
    background-image: url(../images/quote.png);
    background-repeat: no-repeat;
    position: absolute;
    width: 180px;
    height: 180px;
    right: -90px;
    top: 23px;
    z-index: -1;
}

.revBtns a {
    border: 0;
}

.how_it {
    padding: 80px 0;
}

.how_it .how_txt {
    text-align: center;
    padding: 0 200px;
    margin: 0 0 80px 0;
}

.how_it .how_txt h6 {}

.how_it .how_txt h2 {}

.how_it .how_txt p {}

.how_it .how_wrp {
    padding: 50px 40px;
}

.how_it .how_wrp .d-flex {
    justify-content: space-between;
}

.how_it .how_wrp .d-flex img {
    filter: grayscale(1);
    margin: 0 0 40px 0;
    width: auto;
}

.how_it .how_wrp .d-flex span {
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    color: #ffba0085;
}

.how_it .how_wrp h5 {
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    color: #242424;
    margin: 25px 0 15px;
}

.how_it .how_wrp p {
    font-weight: 500;
    line-height: 1.7;
    font-size: 17px;
    color: #797979;
    margin: 0;
}

.how_it .how_btn {
    text-align: center;
    justify-content: center;
    display: flex;
    gap: 20px;
    margin: 80px 0 0 0;
}

.how_wrp.midd {
    border-right: 1px solid #D8D8D8;
    border-left: 1px solid #D8D8D8;
    position: relative;
}

.how_wrp.midd:before {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-left: 15px solid #ffba00;
    border-bottom: 15px solid transparent;
}

.how_wrp.midd:after {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    right: -16px;
    margin: auto;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-left: 15px solid #ffba00;
    border-bottom: 15px solid transparent;
}

.pack_sec {
    padding: 80px 0 40px 0;
}

.pack_sec .pack_txt {
    text-align: center;
    padding: 0 200px;
    margin: 0 0 100px 0;
}

.pack_sec .pack_txt h2 {}

.pack_sec .pack_txt p {}

.pack_sec .pack_bx {
    padding: 40px 20px;
    border-right: 1px solid #D5D5D5;
    margin: 0 0 50px 0;
}

.pack_sec .pack_bx img {
    margin: 0 0 30px 0;
    width: 20%;
    height: 70px;
    object-fit: contain;
}

.pack_sec .pack_bx h4 {
    font-weight: 600;
    font-size: 26px;
    line-height: 31px;
    color: #333333;
    margin-bottom: 10px;
}

.pack_sec .pack_bx h5 {
    display: block;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    color: #696969;
    margin-top: 15px;
}

.pack_sec .pack_bx p {
    font-weight: 400;
    font-size: 17px;
    line-height: 27px;
    color: #797979;
    margin-bottom: 30px;
}

.pack_sec .pack_bx ul {}

.pack_sec .pack_bx ul li {
    font-weight: normal;
    font-size: 14px;
    color: #666666;
    margin-bottom: 10px;
    padding-left: 0;
    position: relative;
    line-height: 1.4em;
}

.pack_sec .pack_bx ul li i {
    padding: 0 15px 0 0;
    color: #ffba00;
    font-weight: 900;
}

.pack_sec .pack_bx .btn_pack {
        align-items: center;
    justify-content: space-between;
    display: flex;
}

.pack_sec .pack_bx .btn_pack a {}

a.detail_btn {
    float: right;
    font-size: 18px;
    color: #000;
    font-weight: 500;
    padding-right: 20px;
}

.pack_bx.no-right {
    border: 0;
}

.testi_Sec {
    padding: 60px 0;
}

.testi_Sec .testi_wrp {
    text-align: center;
    margin: 0 0 80px 0;
}

.testi_Sec .testi_wrp h2 {
    padding: 0 370px;
}

.testi_Sec .testi_wrp p {}

.testi_Sec .testi_wrp img {
    margin: 20px 0 0 0;
}

.testi_Sec .item {
    width: 22%;
    background: #fff;
    padding: 25px;
    box-shadow: 0px 4px 4px rgba(178, 178, 178, 0.25);
    border-bottom: 1px solid #D5D5D5;
}

.testi_Sec .item .d-flex {
    align-items: center;
    gap: 30px;
}

.testi_Sec .item .d-flex img {
    width: 25%;
}

.testi_Sec .item .d-flex h6 {
    margin: 0;
    font-weight: 500;
    font-size: 18px;
}

.testi_Sec .item .d-flex h6 span {
    display: block;
    margin-top: 5px;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #989898;
}

.testi_Sec .item p {
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 0.01em;
    color: #797979;
    margin: 35px 0;
}

.testi_Sec .item .stars {}

.testi_Sec .item .stars i {
    color: #d65f32;
}

.testi_Sec .item .stars p {
    margin: 10px 0 0 0;
    font-weight: 400;
    font-size: 12px;
    color: #7C7C7C;
}

.testi_Sec .slick-active {
    opacity: 1;
}

.testi_btm {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 70px 0 0 0;
}

.exceeding_sec {
    padding: 60px 0;
}

.exceeding_sec .exceeding_txt {
    text-align: center;
}

.exceeding_sec .exceeding_txt h2 {}

.exceeding_sec .exceeding_txt p {}

.exceeding_sec .exceeding_txt ul {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: flex-end;
    margin: 100px 0 0 0;
}

.exceeding_sec .exceeding_txt ul li {}

.exceeding_sec .exceeding_txt ul li img {
    filter: grayscale(1);
    width: 80%;
}

footer {
    padding: 80px 0 50px 0;
    background: #202020;
}

footer .f-wrp {}

footer .f-wrp img {
    width: 40%;
    margin: 0 0 20px 0;
}

footer .f-wrp p {
    margin: 0;
    color: #fff;
    font-size: 14px;
    line-height: 1.8;
    padding: 0 70px 0 0;
}

footer .f-wrp ul {
    margin: 0 20px;
}

footer .f-wrp ul h6 {
    color: #fff;
    margin: 0 0 40px 0;
    text-decoration: underline;
}

footer .f-wrp ul li {
    padding: 0 0 5px 0;
}

footer .f-wrp ul li a {
    color: #fff;
}

.payment {
    margin: 30px 0 0 0 !important;
    width: 90% !important;
}

.copy_rigth {
    text-align: center;
    padding: 20px 0;
    background: #202020;
    border-top: 1px solid;
}

.copy_rigth p {
    margin: 0;
    color: #fff;
}

.smm {
    display: flex;
    gap: 20px;
    margin: 30px 0 0 0;
}

.smm a {
    padding: 10px;
    height: 40px;
    width: 40px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
}

.smm a i {
    font-size: 18px;
    color: #000;
}

.smm a:hover {
    background: #ffba00;
}

.potfolio_sec {
    padding: 80px 0 0 0;
    overflow: hidden;
}

.potfolio_sec .port_wrp {}

.potfolio_sec .port_wrp h6 {}

.potfolio_sec .port_wrp h2 {}

.potfolio_sec .port_wrp p {}

.potfolio_sec ul {
    display: flex;
    gap: 20px;
    margin: 50px 0;
    transition: transform 1s ease-in-out;
}

.potfolio_sec ul li {
    min-width: 350px;
    text-align: center;
}

.potfolio_sec ul li img {
    border-radius: 15px;
    transition: all 0.4s ease-In-out;
}

.potfolio_sec ul li h6 {
    font-weight: 600;
    font-size: 20px;
    color: #222222;
    margin: 20px 0 0 0;
}
.sds .slick-slide {
    opacity: 1;
}
.sds .slick-track {
    display: flex;
}



/*.potfolio_sec ul:hover {*/
/*    transform: translateX(calc(-100% + 200px));*/
/*    transition: transform 10s ease-in-out;*/
/*}*/

/*.potfolio_sec ul li:hover {*/
/*    transform: scale(1.02);*/
/*    transition: ease 0.4s;*/
/*}*/
/*.slider-portnew{*/
/*    transition: transform 1s ease-in-out;*/
/*}*/

/*.slider-portnew li img {*/
/*    border-radius: 15px;*/
/*    transition: all 0.4s ease-In-out;*/
/*}*/

/*.slider-portnew:hover {*/
/*    transform: translateX(calc(-100% + 200px));*/
/*    transition: transform 10s ease-in-out;*/
/*}*/

/*.slider-portnewul li:hover {*/
/*    transform: scale(1.02);*/
/*    transition: ease 0.4s;*/
/*}*/
.faq_Sec {
    padding: 60px 0;
}

.faq_Sec .faq_txt {
    text-align: center;
    margin: 0 0 60px 0;
}

.faq_Sec .faq_txt h2 {}

.faq_Sec .faq_wrp {}

.faq_Sec .faq_wrp h2 .accordion-button {
    cursor: pointer;
    font-weight: 600;
    font-size: 20px;
    line-height: 22px;
    color: #333333;
    padding-right: 30px;
    background-color: #fff;
    box-shadow: none;
    padding: 25px 30px 25px 20px;
}

.faq_Sec .accordion-item {
    border: 0;
}

.faq_Sec .accordion-button::after {
    font-family: 'Font Awesome 5 Pro';
    content: "\f2ec";
    background-image: none;
    transform: rotate(150deg);
    font-size: 18px;
}

.faq_Sec .accordion-button:not(.collapsed)::after {
    transform: rotate(-420deg);
    background-image: none;
}

.faq_Sec .accordion-body {
    padding: 1rem 1.25rem;
    position: relative;
    display: block;
    cursor: pointer;
    font-weight: 400;
    font-size: 16px;
    line-height: 31px;
    color: #797979;
    margin-top: 0;
}

.btm_form {
    padding: 80px 0 60px 0;
}

.btm_form .form {
    padding: 0 50px 0 0;
}

.btm_form .form h4 {
    font-weight: 600;
    font-size: 36px;
    color: #000;
}

.btm_form .form p {
    margin: 0 0 50px 0;
}

.btm_form .form .grp {
    margin: 0 0 20px 0;
}

.btm_form .form .grp input {
    border: 1px solid #D5D5D5;
    width: 100%;
    height: 50px;
    padding: 10px 20px;
    border-radius: 10px;
}

.btm_form .form .grp textarea {
    border: 1px solid #D5D5D5;
    width: 100%;
    height: 50px;
    padding: 10px 20px;
    resize: none;
    border-radius: 10px;
}

.btm_form .form .grp button {
    width: 30%;
    padding: 12px 25px;
}

.btm_form .btm_img {
    position: relative;
}

.btm_form .btm_img img {
    width: 95%;
    border-radius: 0 20px 20px 0;
}

.btm_form .btm_img img.circle {
    width: auto;
    position: absolute;
    z-index: -1;
    top: -80px;
    right: -30px;
    animation: tada 1s linear infinite !important;
}

.inner_banner {
    background: url(../images/about-banner.jpg) 0 0 / cover no-repeat, linear-gradient(rgb(0 0 0 / 58%), rgb(0 0 0 / 63%)) 0 0 / cover no-repeat;
    background-blend-mode: overlay;
    height: 80vh;
    display: flex;
    align-items: center;
    position: relative;
}

.inner_banner .inner_wrp {
    position: relative;
    padding-top: 80px;
    padding-bottom: 50px;
}

.inner_banner .inner_wrp h3 {
    color: #fff;
    line-height: 50px;
}

.inner_banner .btn_gap {}

.inner_banner .btn_gap a {}

.inner_banner .inner_wrp:before {
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    background-image: url(../images/border-line.webp);
    background-size: 50% 100%;
    background-repeat: no-repeat;
    background-position: right;
    top: 0;
    right: 150px;
}

ul.smm_patti {
    width: 8%;
    position: absolute;
    height: 100%;
    top: 0px;
    left: 0;
    bottom: 0;
    margin: auto;
    background: #ffba0080;
    padding: 180px 0 0 0;
}

ul.smm_patti li {
    padding: 30px 0;
    text-align: center;
}

ul.smm_patti li a {}

ul.smm_patti li a i {
    font-size: 30px;
    color: #000;
}

.logo-wrapper {
    padding: 30px 0;
}

.logo-wrapper .item {}

.logo-wrapper .item .logo_tab_platform {
    display: flex;
    align-items: center;
    gap: 5px;
}

.logo-wrapper .item .logo_tab_platform img {
    width: 30%;
}

.logo-wrapper .item .logo_tab_platform h5 {
    margin: 0;
    font-size: 14px;
}

.logo-wrapper .logo_wrp {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.logo-wrapper .slick-active {
    opacity: 1;
}

.about_Sec {
    padding: 60px 0;
}

.about_Sec h3 {
    padding: 0 0 0 60px;
}

.about_Sec .about_img {}

.about_Sec .about_img img {
    margin: -100px 0px 0px 0px;
}

.about_Sec .about_txt {}

.about_Sec .about_txt p {}

.about_Sec .about_txt ul {
    margin: 0 0 0 30px;
}

.about_Sec .about_txt ul li {}

.about_Sec .about_txt ul li {
    margin: 0 0 10px 0;
    font-weight: 500;
    line-height: 1.4;
    font-size: 17px;
    color: #797979;
    position: relative;
}

.about_Sec .about_txt ul li:before {
    position: absolute;
    content: "";
    top: 6px;
    left: -20px;
    width: 8px;
    height: 8px;
    background: #000;
    border-radius: 50px;
}

section.serve:before {
    content: "";
    background: url(../images/industries_bg.png);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-size: contain;
}

.serve .logo_tab_platform {
    box-shadow: 0px 6px 14.25px 0.75px rgb(0 0 0 / 8%);
    border-radius: 10px;
    position: relative;
    padding: 21px 20px 24px 14px;
    background: #fff;
    line-height: 60px;
    margin-left: 0px;
    margin-bottom: 20px;
    transition: 0.2s ease-in-out;
    margin-top: 20px;
    margin-right: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.serve .logo_tab_platform img {
    width: 57px !important;
    height: 57px;
    display: inline-block !important;
}

.serve .logo_tab_platform h5 {
    text-transform: capitalize;
    font-size: 14px;
    padding-left: 10px;
    text-align: left;
    font-weight: 400;
    margin: 0;
    color: #000;
}

section.serve {
    background: #000;
    padding: 70px 0;
    background-size: cover;
    position: relative;
    background-size: cover;
    background-attachment: fixed;
    background-position: 0% 120%;
}

.serve .logo_tab_platform:hover {
    transform: scale(1.1);
}

.serve .section-heading h3 {
    color: #fff;
}

.counter {
    padding: 60px 0;
}

.counter .counter_txt {
    text-align: center;
}

.counter .counter_txt h3 {}

.counter .counter_txt p {
    padding: 0 150px;
}

.counter .counter_txt ul {
    margin: 70px 0 0 0;
    display: flex;
    justify-content: center;
    gap: 70px;
}

.counter .counter_txt ul li {}

.counter .counter_txt ul li h2 {
    margin: 0 0 10px 0;
    font-weight: 800;
    color: #ffba00;
}

.counter .counter_txt ul li h6 {}

.inner_banner.contact_bg {
    background: url(../images/contact-banner.jpg) 0 0 / cover no-repeat, linear-gradient(rgb(0 0 0 / 58%), rgb(0 0 0 / 63%)) 0 0 / cover no-repeat;
}

.inner_banner.pack_pkg {
    background: url(../images/package-banner.jpg) 0 0 / cover no-repeat, linear-gradient(rgb(0 0 0 / 58%), rgb(0 0 0 / 63%)) 0 0 / cover no-repeat;
}

.inner_banner.port {
    background: url(../images/website-design-banner.jpg) 0 0 / cover no-repeat, linear-gradient(rgb(0 0 0 / 58%), rgb(0 0 0 / 63%)) 0 0 / cover no-repeat;
}

.portfoliooo a.port_bx {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 20px 0;
}

.portfoliooo a.port_bx img {
    width: 100%;
    height: 450px;
    object-fit: cover;
    object-position: top;
    transition: 1.5s ease-in-out;
    border-radius: 30px;
}

.portfoliooo a.port_bx:before {
    position: absolute;
    content: "+";
    font-size: 50px;
    color: #fff;
    z-index: 1;
    transition: 0.5s ease-in-out;
    transform: scale(0);
}

.portfoliooo a.port_bx:after {
    position: absolute;
    content: "";
    background: #00000061;
    width: 100%;
    height: 100%;
    transition: 0.5s ease-in-out;
    transform: scale(0);
    border-radius: 30px;
}

.portfoliooo a.port_bx:hover:before {
    transform: scale(1);
    transition: 0.5s ease-in-out;
}

.portfoliooo a.port_bx:hover:after {
    transition: 0.5s ease-in-out;
    transform: scale(1);
}

.portfoliooo a.port_bx:hover img {
    transition: 2s ease-in-out;
    object-position: bottom;
}

.portfoliooo {
    padding: 60px 0;
}

.portfoliooo .folio_wrp {
    text-align: center;
}

.portfoliooo .folio_wrp h3 {}

.portfoliooo .folio_wrp p {}

.portfoliooo .folio_wrp ul.tab-links {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 100px 0;
    align-items: center;
}

.portfoliooo .folio_wrp ul.tab-links li {
    cursor: pointer;
}

.portfoliooo .folio_wrp ul.tab-links li.current {
    padding: 15px 25px;
    border-radius: 10px;
    color: #000;
    background: #ffba00;
    font-size: 16px;
    font-weight: 500;
    border: 3px solid #ffba00;
}

.portfoliooo .tabs {
    display: none;
}

.portfoliooo .tabs.current {
    display: block;
}

.pack_sec ul.tab-links li.current {
    padding: 15px 25px;
    border-radius: 10px;
    color: #000;
    background: #ffba00;
    font-size: 16px;
    font-weight: 500;
    border: 3px solid #ffba00;
}

.pack_sec ul.tab-links li {}

.pack_sec .tabs.current {
    display: block;
}

.pack_sec .tabs {
    display: none;
}

.pack_sec ul.tab-links {
    margin: 0 0 80px 0;
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
}

.pack_sec ul.tab-links li {
    cursor: pointer;
}

.pack_sec .pkg_body ul {
    height: 200px;
    overflow-y: scroll;
}

.listscroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

.listscroll::-webkit-scrollbar {
    width: 3px;
    background-color: #F5F5F5;
}

.listscroll::-webkit-scrollbar-thumb {
    background-color: #ffba00;
}

.newslider .slick-slide {
    opacity: 1;
    margin: 0 0px;
}

.newslider .slick-prev::before {
    content: "\f060";
    position: absolute;
    font-weight: 900;
    font-family: "Font Awesome 6 Pro";
    background: #ffdb7a;
    border-radius: 60px;
    padding: 10px 10px;
}

.newslider .slick-next:before {
    content: "\f061";
    position: absolute;
    font-weight: 900;
    font-family: "Font Awesome 6 Pro";
    background: #ffdb7a;
    border-radius: 60px;
    padding: 10px 10px;
}

.newslider .slick-prev {
    left: -65px;
}

.easter_popup {
    width: 35%;
    position: fixed;
    top: 53%;
    z-index: 999;
    left: 0;
    right: 0;
    margin: 0 auto;
    transform: translateY(-50%) scale(0.9);
}

.easter_popup>.easter_popup_inner {
    position: relative;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    background-color: #ffffff;
    border-top-right-radius: 0;
}

.easter_popup>.easter_popup_inner>img.backg_img {
    position: absolute;
    width: 100%;
    z-index: -1;
    border-radius: 20px;
    height: 100%;
    object-fit: cover;
}

.easter_popup>.easter_popup_inner>.easter_popup_inner_form-wrpp {
    width: 100%;
    margin-left: auto;
    padding-right: 0;
    padding: 60px 30px 50px;
}

.easter_popup>.easter_popup_inner>.easter_popup_inner_form-wrpp>h3 {
    font-size: 34px;
    font-family: 'Poppins';
    font-weight: 800;
    text-align: center;
    line-height: 1.2;
    margin-bottom: 10px;
    margin-top: 0;
}

.easter_popup>.easter_popup_inner form.form-get-quote {
    position: relative;
}

.easter_popup>.easter_popup_inner>.easter_popup_inner_form-wrpp>h3>span {
    font-family: 'AvertaDemo-Regular';
    font-weight: 300;
}

.easter_popup>.easter_popup_inner>.easter_popup_inner_form-wrpp>p {
    font-size: 14.83px;
    color: #000;
    text-align: center;
    font-weight: 400;
    line-height: 1.4;
    margin-bottom: 20px;
}

.easter_popup>.easter_popup_inner>.easter_popup_inner_form-wrpp>p span {
    color: #000000;
    font-weight: 700;
    font-size: 19px;
    font-family: 'POPPINS';
}

.easter_popup>.easter_popup_inner>.easter_popup_inner_form-wrpp>form input {
    width: 100%;
    margin-bottom: 10px;
    padding: 0 15px;
    border: 0;
    height: 50px;
    border-radius: 5px;
    border: 2px solid #000;
}

.easter_popup>.easter_popup_inner>.easter_popup_inner_form-wrpp>form button {
    width: 100%;
    border: 0;
    height: 50px;
    background: #ffba00;
    color: #000;
    border-radius: 5px;
}

.easter_popup>.easter_popup_inner>img.wvec1 {
    position: absolute;
    bottom: 15%;
    left: -3%;
    width: 50%;
}

.easter_popup>.easter_popup_inner>span.close_popppp {
    position: absolute;
    top: -20px;
    right: -20px;
    background: #ffba00;
    color: #000;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    font-size: 20px;
    cursor: pointer;
    border-radius: 60px;
}

.rabbit {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -16%;
    width: 60%;
}

.flower {
    position: absolute;
    right: auto;
    left: -20px;
    width: 50px;
    bottom: -20px;
}

#ouibounce-modal h4:before {
    background: #ff851d;
    content: "";
    height: 100%;
    width: 6px;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 16px;
}

section.expertise-col a:hover {
    background: #de122e;
    border-color: #de122e;
    color: #fff;
}

#ouibounce-modal .modal-body a {
    padding-right: 62px;
    margin-bottom: 23px;
    font-size: 14px;
    margin-top: 10px;
}

.modal-footer a {
    cursor: pointer;
    border: #0c8a41 3px solid;
    background: #fff;
    border-radius: 72px;
    text-align: center;
    box-shadow: #000 0 0 10px;
    display: block;
    padding: 15px;
}

#ouibounce-modal .modal:before {
    content: "";
    background: url(../images/opt-shark.png) no-repeat left top;
    width: 187px;
    height: 273px;
    position: absolute;
    left: -27px;
    top: 18px;
    visibility: hidden;
}

#ouibounce-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 12;
}

#ouibounce-modal .modal:after {
    background: url('../images/sprite.png') no-repeat 0 0;
    width: 22px;
    height: 60px;
    content: "";
    position: absolute;
    z-index: 1;
    visibility: hidden;
    right: 0;
}

#ouibounce-modal .underlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
    cursor: pointer;
    -webkit-animation: fadein .5s;
    animation: fadein .5s
}

#ouibounce-modal .modal {
    width: 410px;
    height: 425px;
    background-color: #ffffff;
    z-index: 1;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 24px;
    display: block;
    -webkit-animation: popin .3s;
    animation: popin .3s;
    padding: 14px 24px 24px 20px;
    overflow: visible;
}

#ouibounce-modal .modal-body p {
    font-size: 15px;
    margin-bottom: 7px;
    margin-top: 0;
}

#ouibounce-modal h4 {
    color: #000;
    font-size: 25px;
    text-transform: none;
    font-weight: 800;
    position: relative;
    padding-left: 19px;
    margin-top: 13px;
    margin-bottom: 8px;
}

#ouibounce-modal .modal-body {
    font-size: 13px;
    padding: 7px 0 10px;
}

#ouibounce-modal h2+p {
    color: #344a5f
}

#ouibounce-modal form {}

#ouibounce-modal form input[type=text],
#ouibounce-modal form input[type=email],
#ouibounce-modal form textarea {
    padding: 12px 12px 12px 32px;
    font-size: 12px;
    width: 100%;
    border-radius: 4px;
    border: 1px solid #ccc;
    -webkit-font-smoothing: antialiased;
    background: #f4f4f4;
    margin: 0;
    color: #000;
}

#ouibounce-modal form input[type=submit] {
    text-transform: uppercase;
    padding: 12px;
    font-size: 22px;
    border-radius: 4px;
    margin-right: 8px;
    color: #fff;
    background-color: #ff851d;
    border: none;
    cursor: pointer;
    -webkit-font-smoothing: antialiased;
    font-weight: 800;
    text-shadow: #000 0px 1px 1px;
    width: 49%;
}

@-webkit-keyframes fadein {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@-ms-keyframes fadein {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@keyframes fadein {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@-webkit-keyframes popin {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 0
    }
    85% {
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
        opacity: 1
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1
    }
}

@-ms-keyframes popin {
    0% {
        -ms-transform: scale(0);
        transform: scale(0);
        opacity: 0
    }
    85% {
        -ms-transform: scale(1.05);
        transform: scale(1.05);
        opacity: 1
    }
    100% {
        -ms-transform: scale(1);
        transform: scale(1);
        opacity: 1
    }
}

@keyframes popin {
    0% {
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
        opacity: 0
    }
    85% {
        -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
        transform: scale(1.05);
        opacity: 1
    }
    100% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        opacity: 1
    }
}

#ouibounce-modal {
    display: none;
}

#ouibounce-modal .modal-footer {}

.popupform ul li {
    text-align: left;
    position: relative;
    width: 48%;
    margin: 8px 3px;
    display: inline-block;
}

.popupform ul li input[type="text"],
.popupform ul li input[type="email"],
.popupform ul li textarea {
    background: #fafafa;
    border: #dcdcdc 1px solid;
    padding: 10px 10px 10px 34px;
    width: 100%;
    border-radius: 7px;
    font-size: 14px;
    color: #000;
    box-shadow: none !important;
    outline: none 0px !important;
}

.popupform ul li i {
    position: absolute;
    top: 12px;
    left: 10px;
}

.popupform ul li.first,
.popupform ul li:nth-child(4) {
    width: 98%;
}

.popupform ul li textarea {
    height: 110px;
}

.popupform ul li.last {
    text-align: center;
    width: 100%;
}

.popupform ul li input[type="submit"] {
    background: #f19c1f;
    color: #fff;
    font-size: 18px;
    border: #f19c1f 1px solid;
    text-transform: uppercase;
    font-weight: 600;
    padding: 14px 50px;
    letter-spacing: 1px;
    border-radius: 30px;
    outline: 0px none;
    width: 100%;
    display: inline-block;
}

.popupform ul li input[type="submit"]:hover {}

.popupform ul li input[type="text"]:focus,
.popupform ul li input[type="email"]:focus,
.popupform ul li textarea:focus {
    border: #f19c1f 1px solid !important;
}

.popupform {
    width: 480px;
    border-radius: 23px;
    padding: 30px;
    overflow: visible;
    border-bottom: #f19c1f 5px solid;
    background: #fff;
}

.popupform h2 {
    font-size: 28px;
    color: #000;
    font-weight: 900;
    padding-left: 15px;
    border-left: #f19c1f 6px solid !important;
    margin-bottom: 12px;
    line-height: 35px;
    margin-top: 0;
    text-transform: uppercase;
}

.popupform h2+p {
    line-height: 19px;
    font-size: 14px;
    margin-bottom: 12px;
}

.popupform .fancybox-close-small {
    border: #f19c1f 3px solid;
    background: #fff;
    border-radius: 72px;
    text-align: center;
    box-shadow: #000 0 0 10px;
    right: -18px;
    top: -11px;
    opacity: 1;
}

.popupform .fancybox-close-small:after {
    color: #ca2f35;
    font-size: 25px;
    right: 4px;
    background: transparent;
    padding-top: 0;
    font-size: 20px;
}

input.required.error,
textarea.required.error,
select.required.error {
    border-bottom: red 2px solid !important;
    color: red !important;
}

label.error {
    display: none !important;
}

.modal-footer a:after {
    content: "x";
    position: absolute;
    top: 3px;
    right: 3px;
    width: 30px;
    height: 30px;
    font: 20px/30px Arial, Helvetica Neue, Helvetica, sans-serif;
    color: #0c8a41;
    font-weight: 300;
    text-align: center;
    border-radius: 50%;
    border-width: 0;
    background: #fff;
    transition: background .2s;
    box-sizing: border-box;
    z-index: 2;
}

#ouibounce-modal .modal-footer {
    position: absolute;
    top: -10px;
    right: -8px;
    border: 0px none;
}

div#btmsticky b {
    color: #fcb314;
    font-size: 24px;
}

div#btmsticky span {
    display: block;
    color: #fcb314;
    font-size: 29px;
}

div#btmsticky .content a {
    display: inline-block;
    position: relative;
    top: 15px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600 !important;
    border: 0px none;
    cursor: pointer;
    color: #000;
    padding: 18px 6px;
    font-size: 15px;
    margin: 0 0 0 19px;
    border-radius: 2px;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    -o-transition: all .1s linear;
    -ms-transition: all .1s linear;
    transition: all .1s linear;
    background: #fcb314;
}

div#btmsticky h2 {
    font-size: 24px;
    text-transform: uppercase;
    display: inline-block;
    font-weight: 600;
    width: 61%;
    color: #f5f5f5;
    margin: 13px 0 0 0;
}

.btm-sticky {
    position: fixed;
    bottom: -1px;
    display: none;
    left: 0;
    width: 100%;
    background: #2b2b2b;
    padding: 16px 0;
    border-top: #000 2px solid;
    z-index: 4;
}

.hide {
    opacity: 0;
    left: -100%;
}

.show {
    opacity: 1;
    left: 0;
}

.slicknav_menu {
    background: #ffba00;
}

.slicknav_menu .slicknav_icon-bar {
    background: #ffba00;
}

.slicknav_nav .slicknav_item a i {
    display: none;
}

ul.slicknav_nav {
    position: absolute;
    width: 100%;
    top: 48px;
    z-index: 99999;
    background: #ffba00;
    left: 0;
}

.slicknav_nav a:hover {
    background: #000;
}

.yellowcr {
    color: #ffba00;
}

.easter_popup>.easter_popup_inner>.easter_popup_inner_form-wrpp>form textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 0 15px;
    border: 0;
    height: 50px;
    border-radius: 5px;
    resize: none;
    border: 2px solid #000;
    height: 110px;
}

.banner_main.ecom-bann {}

.banner_main.ecom-bann .bann_txt ul li {
    width: 49%;
    font-size: 14px;
}

.privay-ploicy {
    padding-top: 80px;
    padding-bottom: 80px;
}

.privay-ploicy a {
    color: #ffba00;
}

.privay-ploicy h2,
.privay-ploicy h3 {
    font-size: 36px;
    color: #000;
}

.privay-ploicy p {
    line-height: 1.5;
}

.back_overly {
    position: relative;
}

.back_overly:after {
    position: absolute;
    content: "";
    background: rgb(30 30 30 / 85%);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 99;
}
.logos_Sec {
    padding-top: 40px;
}

.mobile-nav {
    position: fixed;
    width: 80%;
    height: 100%;
    overflow-y: scroll;
    top: 0;
    right: -80%;
    z-index: 12;
    background: var(--primary-color);
    -webkit-transition: all .6s ease-in-out;
    -moz-transition: all .6s ease-in-out;
    -o-transition: all .6s ease-in-out;
    transition: all .6s ease-in-out;
    background: #282828;
}

.mobile-nav .logo-main {
    font-size: 16px;
    color: #8795a0;
    padding: 15px 0 15px 24px;
    display: inline-block;
}

.mobile-nav img {
    width: 130px;
}

.mobile-nav nav {
    height: 100%;
}

.mobile-nav nav li a {
    color: #fff;
    font-weight: 400;
    display: block;
    padding: 15px 24px;
    border-top: 1px solid #d6d8db;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
font-size: 16px;}

.mobile-nav nav li a .fa {
    font-size: 20px;
    float: right;
}

.mobile-nav nav li ul {
    display: none;
    background: #fff;
}

.mobile-nav nav li ul li a {
    font-weight: 500;
    font-size: 14px;
color: #000;}

.app-container.active {
    left: -80%;
}

.app-container {
    position: relative;
    left: 0;
    -webkit-transition: all .6s ease-in-out;
    -moz-transition: all .6s ease-in-out;
    -o-transition: all .6s ease-in-out;
    transition: all .6s ease-in-out;
    display: none;
    }

.mobile-nav-btn {
    display: none;
    position: absolute;
    top: 4px;
    height: 30px;
    padding: 6px 7px;
    border-radius: 4px;
    right: 2%;
    z-index: 100;
    cursor: pointer;
    -webkit-transition: all .6s ease-in-out;
    -moz-transition: all .6s ease-in-out;
    -o-transition: all .6s ease-in-out;
    transition: all .6s ease-in-out;
    z-index: 14;
}

.mobile-nav-btn {
    display: block;
    z-index: 99999;
    top: 20px;
}

.mobile-nav-btn.active {
    right: 2%;
z-index: 999999999;top: 15px;}

.mobile-nav-btn span {
    display: none;
    height: 3px;
    width: 22px;
    background-color: var(--primary-color);
    display: block;
    margin-bottom: 6px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    position: relative;
    top: 8px;
}

.lines:before, .lines:after {
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    transition: top .3s .6s ease,-webkit-transform .3s ease;
    transition: top .3s .6s ease,transform .3s ease;
}


.mobile-nav-btn .lines:before {
    top: 0;
    content: "\f0c9";
    font-family: 'Font Awesome 5 Pro';
    font-size: 38px;
    color: #000;
    position: absolute;
    right: 0;
    background: #ffba00;
    padding: 16px 15px;
    border-radius: 5px;
    }

.mobile-nav-btn.active .lines:before {
        content: "\f00d";
        background: #000;
        color: #fff;
        }

.mobile-nav.active {
    z-index: 9999999;
}

.mobile-nav.active {
    height: 100%;
    right: 0;
}

.subs-pac {
    display: block;
    width: 100%;
    text-align: center;
    margin: 0 0 60px;
    -ms-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    padding: 75px 0 0;
    background-color: #ffba00;
}



.bronze {
    border: 1px solid transparent;
}

.subscribe-fold h3 {
    font-size: 31px;
    margin: 0;
    position: relative;
    text-transform: capitalize;
    font-weight: 400;
    width: 100%;
    text-align: center;
    color: #000;
}

.subs-pac h6 {color: #000;font-size: 50px;font-weight: 500;display: inline-block;line-height: 0.9;margin: 30px 0 0;position: relative;padding: 0 20px;}

.subs-pac h6 span.old {
    position: absolute;
    right: 0;
    left: 0;
    top: -30px;
    text-decoration: line-through;
    font-weight: 700;
    margin: 0;
    font-size: 16px;
}

.subs-pac h6 span {font-size: 19px;color: #000;display: inline-block;margin: 30px 0 0;padding: 0;position: relative;line-height: 1.3;font-weight: 300;}

.subs-pac h6 span b.monthss {
    position: absolute;
    right: -61px;
    font-size: 20px;
    top: -37px;
    color: #000;
}

.subs-pac h6 b {
position: relative;
    font-size: 18px;
    display: inline-block;
    bottom: 0;
    color: #fff;
    left: -10px;
    font-weight: 200;
}

.subs-pac a.ordrrrr {
    text-align: center;
    margin: 30px auto 0;
    border: none;
    padding: 18px 60px;
    color: #fff;
    box-shadow: none;
    font-weight: 500;
    cursor: pointer;
    display: inline-block;
    font-size: 19px;
    background: #121212;
    border-radius: 10px;
}

.subs-pac .actions a.chatbtn {font-size: 20px;font-weight: 400;padding: 35px 0;display: inline-block;color: #000;margin: 0;}


.subs-pac .actions a.numberbtn {
    font-size: 18px;
    font-weight: 400;
    padding: 35px 0;
    color: #000;
    display: inline-block;
    margin: 0;
}

h2.myheading {
    color: #000;
    font-size: 40px;
    margin-bottom: 40px;
}

.head h5 {
    color: #000;
    font-size: 30px;
    margin-bottom: 30px;
}

.subscribe-fold {
    padding: 180px 0 60px 0;
}

.subscribe-fold ul.pkg-list {
    height: 410px;
}

.subscribe-fold ul.pkg-list li {
    font-size: 16px;
    margin-bottom: 20px;
    padding-bottom: 12px;
    border-bottom: 1px solid rgb(0 0 0 / 9%);
    margin-right: 50px;
}



.sub-list {
    padding-left: 40px;
}

ul.pkg-list li:before {
    content: '';
    background: url(../images/check-icon.svg);
    width: 14px;
    height: 14px;
    position: absolute;
    left: 0;
    top: 4px;
}

ul.pkg-list::-webkit-scrollbar {
  width: 7px;
  border-radius: 10px;
}

ul.pkg-list::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #e6e5e5;
  border-radius: 10px;
  background: #000000;
}
ul.pkg-list::-webkit-scrollbar-thumb {
  background: #ffba00
    ;
  border-radius: 10px;
}
ul.pkg-list::-webkit-scrollbar-thumb:hover {
 background: #f15b07;
  border-radius: 10px;
}

ul.pkg-list {
    height: 290px;
    overflow-y: scroll;
}